<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.net>
    <defaultProxy>
      <proxy usesystemdefault="false" proxyaddress="http://devapi.idnpoker.com:2802" bypassonlocal="true"/>
    </defaultProxy>
  </system.net>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.8" />
      </system.Web>
  -->
  <system.web>
    <customErrors mode="Off"/>
    <compilation debug="true" strict="false" explicit="true" targetFramework="4.8">
      <assemblies>
        <add assembly="System.Net.Http, Version=4.2.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
      </assemblies>
    </compilation>
    <httpRuntime targetFramework="4.5"/>
    <sessionState mode="InProc" cookieless="false" timeout="120"/>
  </system.web>
  <connectionStrings>
    <add name="ConnectionString" connectionString="Data Source=LAPTOP-DNPTQGVH;Initial Catalog=ssspoker_affiliate2;User ID=ssspoker_aff;Password=sssp0k3r@ff;Max Pool Size=20000"/>
    <add name="constringXLS" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source={0};Extended Properties='Excel 12.0'"/>
    <add name="constringXLSX" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source={0};Extended Properties='Excel 8.0;HDR={1}'"/>
  </connectionStrings>
  <appSettings>
    <add key="Database" value="SBOPOKER_AFFILIATE"/>
    <add key="Integrated Security" value="true"/>
    <add key="change_password" value="sp_change_password"/>
    <add key="login" value="sp_check_login"/>
    <add key="login_id" value="sp_check_login_id"/>
    <add key="summary_listing" value="sp_get_summary_listing"/>
    <add key="commission_rate" value="sp_get_commission_rate"/>
    <add key="user_type" value="sp_get_user_type"/>
    <add key="upper_level_user" value="sp_get_upper_affiliate"/>
    <add key="admin_summary_listing" value="sp_get_admin_summary_listing"/>
    <add key="admin_summary_details" value="sp_get_admin_summary_details"/>
    <add key="get_bank" value="sp_get_bank"/>
    <add key="get_country" value="sp_get_country"/>
    <add key="admin_banner_details" value="sp_get_admin_banner_details"/>
    <add key="admin_banner_listing" value="sp_get_admin_banner_listing"/>
    <add key="banner_listing" value="sp_get_banner_listing"/>
    <add key="get_category" value="sp_get_category"/>
    <add key="admin_listing" value="sp_get_admin_listing"/>
    <add key="admin_details" value="sp_get_admin_details"/>
    <add key="player_list" value="sp_get_player_list"/>
    <add key="user_list" value="sp_get_user_list"/>
    <add key="update_admin" value="sp_update_admin_details"/>
    <add key="update_banner" value="sp_update_banner_details"/>
    <add key="insert_admin" value="sp_insert_admin_details"/>
    <add key="insert_banner" value="sp_insert_banner_details"/>
    <add key="insert_summary" value="sp_insert_summary"/>
    <add key="admin_listing" value="sp_get_admin_listing"/>
    <add key="API_login_name" value="SBOBETPOKER"/>
    <add key="API_login_password" value="Sb013eTP0keR"/>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None"/>
    <add key="KR_win_loss_folder" value="temp/"/>
    <add key="KR_insert_player_trans" value="sp_kr_insert_player_transaction"/>
    <add key="KR_admin_summary_details" value="sp_kr_get_admin_summary_details"/>
    <add key="KR_admin_summary_listing" value="sp_kr_get_admin_summary_listing"/>
    <add key="KR_summary_listing" value="sp_kr_get_summary_listing"/>
    <add key="KR_player_list" value="sp_kr_get_player_list"/>
    <add key="KR_player_details" value="sp_kr_get_player_details"/>
    <add key="KR_insert_player" value="sp_kr_insert_player_details"/>
    <add key="KR_get_country_by_affcode" value="sp_kr_get_country_by_affcode"/>
    <add key="KR_get_register_url" value="sp_kr_get_register_url"/>
    <add key="KR_get_game_url" value="sp_kr_get_game_url"/>
    <add key="KR_get_profile" value="sp_kr_get_profile"/>
    <add key="KR_update_profile" value="sp_kr_update_profile"/>
    <add key="KR_check_import_data" value="sp_kr_check_import_data"/>
    <add key="KR_notification_list" value="sp_kr_get_notification_list"/>
    <add key="kr_notification_details" value="sp_kr_get_notification_details"/>
    <add key="KR_insert_notification" value="sp_kr_insert_notification"/>
    <add key="KR_update_notification" value="sp_kr_update_notification"/>
    <add key="KR_notification_list_before_Login" value="sp_kr_get_notification_before_login"/>
    <add key="KR_notification_list_after_Login" value="sp_kr_get_notification_after_login"/>
    <add key="KR_get_game_url" value="sp_kr_get_gameurl"/>
    <add key="KR_get_affcode" value="sp_kr_get_affcode"/>
    <add key="KR_update_player" value="sp_kr_update_player"/>
    <add key="KR_user_list" value="sp_kr_get_user_list"/>
    <add key="KR_add_ticket" value="sp_insert_ticket"/>
    <add key="KR_get_ticket" value="sp_get_ticket"/>
    <add key="KR_update_admin_balance" value="sp_update_affiliate_balance"/>
    <add key="KR_update_ticket" value="sp_update_ticket"/>
    <add key="KR_get_affiliate_list" value="sp_get_affiliate_list"/>
    <add key="KR_check_gameid_by_affiliate" value="sp_check_gameId_by_affliateId"/>
  </appSettings>
  <system.webServer>
    <httpErrors errorMode="DetailedLocalOnly"/>
    <defaultDocument>
      <files>
        <clear/>
        <add value="default.aspx"/>
        <add value="Default.htm"/>
        <add value="Default.asp"/>
        <add value="index.htm"/>
        <add value="index.html"/>
        <add value="iisstart.htm"/>
      </files>
    </defaultDocument>
    <staticContent>
      <remove fileExtension=".svg"/>
      <mimeMap fileExtension=".svg" mimeType="image/svg+xml"/>
    </staticContent>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0"/>
      <remove name="OPTIONSVerbHandler"/>
      <remove name="TRACEVerbHandler"/>
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0"/>
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>