

@font-face {
	font-family: 'Conv_AvenirNextLTPro-Regular';
	src: url('../fonts/AvenirNextLTPro-Regular.eot');
	src: local('☺'), url('../fonts/AvenirNextLTPro-Regular.woff') format('woff'), url('../fonts/AvenirNextLTPro-Regular.ttf') format('truetype'), url('../fonts/AvenirNextLTPro-Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;

}

body{
	background: #e6edff;
	font-family: 'Conv_AvenirNextLTPro-Regular';
	color: #616161;
	
}

a:hover{
	text-decoration:none
}

h1, h2, h3, h4, h5{
color: #406daa;
font-weight:bold;	
	
}

.jackpotmiddle-mobile{
	display:none;
}


.topheader{
	background: #c4d3fc; /* Old browsers */
	background: -moz-linear-gradient(top,  #c4d3fc 0%, #dee5f8 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#c4d3fc), color-stop(100%,#dee5f8)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #c4d3fc 0%,#dee5f8 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #c4d3fc 0%,#dee5f8 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #c4d3fc 0%,#dee5f8 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #c4d3fc 0%,#dee5f8 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c4d3fc', endColorstr='#dee5f8',GradientType=0 ); /* IE6-9 */

	border: none;
	border-radius: 0px;
	color: #fff;
	height:70px;
	
}

.navbar-nav > li > a {
	color: #011460 !important;
	padding: 25px 10px !important;
    height: 70px !important;
	font-size: 16px;
	font-weight: bold;
}

.navbar-nav > li:hover {
	background: #426099;
	color: #b5c3e6;
	
}

.navbar-nav > li a:hover {
	color: #b5c3e6 !important;
	
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover{
	background: #426099;
	
}

.dropdown-menu{
	background: #dee5f8;
}

.dropdown-menu>li>a:hover{
	background: #426099;
}

.glyphicon{
	height:20px;
	
}

.login{
  margin-top:70px;
  padding-top:6px;
  padding-bottom:6px;
  /*margin-bottom: -8px;*/
  background: #4968a6; /* Old browsers */
  background: -moz-linear-gradient(top,  #4968a6 0%, #34588a 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4968a6), color-stop(100%,#34588a)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #4968a6 0%,#34588a 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #4968a6 0%,#34588a 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #4968a6 0%,#34588a 100%); /* IE10+ */
  background: linear-gradient(to bottom, #4968a6 0%,#34588a 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4968a6', endColorstr='#34588a',GradientType=0 ); /* IE6-9 */
	
}

.form-inline{
	float: right;
	
}

.form-captcha{
	height:25px;
	border-radius:5px;

}

.login .forget-pass a{
	font-family: Arial;
	color: #bcc8e5;
	font-size: 12px;
}

.login form input{
	padding: 0px;
	font-size: 12px;
	height: 25px;
	border-radius: 5px;
	text-align: center;
	font-family: Arial;
	color: #2b4b78;
}

.login form input::-webkit-input-placeholder,
.login form input:-moz-input-placeholder,
.login form input::-moz-input-placeholder,
.login form input:-ms-input-input-placeholder {
	color: #2b4b78 !important;
}

.btn-login{
	background: #7b97e2; /* Old browsers */
	background: -moz-linear-gradient(top,  #7b97e2 0%, #627dc6 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7b97e2), color-stop(100%,#627dc6)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #7b97e2 0%,#627dc6 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #7b97e2 0%,#627dc6 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #7b97e2 0%,#627dc6 100%); /* IE10+ */
	background: linear-gradient(to bottom, #7b97e2 0%,#627dc6 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7b97e2', endColorstr='#627dc6',GradientType=0 ); /* IE6-9 */
	border: 1px solid #627dc6;
	border-top: 1px solid #b9c8f0;
	color: #fff;
	font-family: Arial;
	height: 30px;
	padding: 3px 10px;
	font-weight: bold;
	border-radius: 5px;
}

.btn-login:hover{
	border: 1px solid #627dc6;
	border-top: 1px solid #b9c8f0;
	color: #011460;
}

.btn-register{
	background: #f2b61c; /* Old browsers */
	background: -moz-linear-gradient(top,  #f2b61c 0%, #cf8417 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f2b61c), color-stop(100%,#cf8417)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #f2b61c 0%,#cf8417 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #f2b61c 0%,#cf8417 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #f2b61c 0%,#cf8417 100%); /* IE10+ */
	background: linear-gradient(to bottom, #f2b61c 0%,#cf8417 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2b61c', endColorstr='#cf8417',GradientType=0 ); /* IE6-9 */
	border: 1px solid #cf8417;
	color: #fff;
	font-family: Arial;
	height: 30px;
    padding: 3px 10px;
    font-weight: bold;
	border-radius: 5px;
	
	
}


.btn-register:hover{
	border: 1px solid #cf8417;
	color: #011460;
}


.contenttop{
	background: url(http://ssspoker.com/kr/assets/img/slide-1.jpg) no-repeat center center;
    -webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	height:553px;
	margin-bottom:0px;
	position: relative;
	
}

.latest-news{
	background: rgba(27, 41, 66, .7);
	padding:5px 0px;
	color: #b2b3b4;
}

.latest-news-white{
	background: #e6edff;
	padding: 0 !important;
}

.latest-news .title, .latest-news-white .title{
	color:#d59414;
	font-weight:bold;
	margin-right:10px;
}

.latest-news marquee, .latest-news-white marquee{
	position:absolute;
	width: 1040px;
	
}

.txtwelcome{
	position: absolute;
	margin-left: 750px;
	margin-top: 100px;
	
}

.txtwelcome .txt1{
	color:#fff;
	font-size: 16px;
	
}

.txtwelcome h1{
	font-size:60px;
	color:#fff;
	font-weight: bold;
	margin:0px;
	
}

.txtwelcome .txt3{
	color: #8faef2;
	
}

.txtwelcome .txt4{
	color:#fff;
	font-size: 14px;
	
}

.btn-registernow{
	margin-top:20px;
	background: #f2b61c; /* Old browsers */
	background: -moz-linear-gradient(top,  #f2b61c 0%, #cf8417 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f2b61c), color-stop(100%,#cf8417)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #f2b61c 0%,#cf8417 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #f2b61c 0%,#cf8417 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #f2b61c 0%,#cf8417 100%); /* IE10+ */
	background: linear-gradient(to bottom, #f2b61c 0%,#cf8417 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2b61c', endColorstr='#cf8417',GradientType=0 ); /* IE6-9 */
	border: 1px solid #cf8417;
	color: #000000;
	font-weight: bold;
	border-radius: 5px;
	width: 240px;

}

.btn-registernow:hover{
	border: 1px solid #cf8417;
}

.btn-jackpotwin{
	background: #2b72b7; /* Old browsers */
	background: -moz-linear-gradient(top,  #2b72b7 0%, #2a5886 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#2b72b7), color-stop(100%,#2a5886)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #2b72b7 0%,#2a5886 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #2b72b7 0%,#2a5886 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #2b72b7 0%,#2a5886 100%); /* IE10+ */
	background: linear-gradient(to bottom, #2b72b7 0%,#2a5886 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2b72b7', endColorstr='#2a5886',GradientType=0 ); /* IE6-9 */
	border: 1px solid #2a5886;
	border-top: 1px solid #8eb4d9;
	color: #fff;
	font-weight: bold;
	margin-bottom: 19px;
	border-radius: 5px;
	width: 185px;
	
	
}

.btn-jackpotwin:hover{
	border: 1px solid #2a5886;
	border-top: 1px solid #8eb4d9;

}

.jackpotmiddle img{
margin-left: 40px;
margin-top: -15px;
margin-right: 20px;
}

.jackpotmiddle{
	position: absolute;
	bottom: 0px;
	color: #fff;
}

.jacknum{
	display: inline-block;
	font-size: 40px;
	
}

.jacktxt{
    display: inline-block;
    font-style: italic;
    font-size: 14px;
    margin-left: 20px;
    margin-top: -27px;

}

.contentmiddle{
	padding: 3px 0px;
	color: #fff;
	font-size: 19px;
	font-weight: bold;	
	background: #325483; /* Old browsers */
	background: -moz-linear-gradient(top,  #325483 0%, #25406f 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#325483), color-stop(100%,#25406f)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #325483 0%,#25406f 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #325483 0%,#25406f 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #325483 0%,#25406f 100%); /* IE10+ */
	background: linear-gradient(to bottom, #325483 0%,#25406f 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#325483', endColorstr='#25406f',GradientType=0 ); /* IE6-9 */
	
}

.stepone::after{
	content:url(http://ssspoker.com/kr/assets/img/step-next.png);
	width: 22px;
	height: 23px;
	margin-left: 55px;
	margin-top: 15px;
	position: absolute;
}

.steptwo::after{
	content:url(http://ssspoker.com/kr/assets/img/step-next.png);
	width: 22px;
	height: 23px;
	margin-left: 33px;
	margin-top: 15px;
	position: absolute;
}



.play-mobile-title{
	color: #406daa;
font-weight: bold;
font-size: 20px;
margin-bottom: 5px;
	
}

.play-mobile-txt{
	color: #616161;
font-size: 16px;
margin-bottom: 15px;
	
}


footer{
	background: #162a4e;
	color: #d3d3d3;
	padding: 30px 0px;
}

.tabcontent{
border-bottom: #586ac0 solid 4px;
	margin-bottom: 10px;
	
}

.tabcontent a{
	display: inline-block;
	
}


.jackpot-title{
	display: inline-block;
	height: 45px;
	width: 240px;
	color: #fff;
	padding-left: 45px;
	text-transform: uppercase;
	font-size: 16px;
	font-weight: bold;
	padding-top: 15px;
	background: #6a7ed9; /* Old browsers */
	background: -moz-linear-gradient(top,  #6a7ed9 0%, #586ac0 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#6a7ed9), color-stop(100%,#586ac0)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #6a7ed9 0%,#586ac0 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #6a7ed9 0%,#586ac0 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #6a7ed9 0%,#586ac0 100%); /* IE10+ */
	background: linear-gradient(to bottom, #6a7ed9 0%,#586ac0 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6a7ed9', endColorstr='#586ac0',GradientType=0 ); /* IE6-9 */
	
}


.jackpot-title::before{
	content: "";
	background: url('http://ssspoker.com/kr/assets/img/icon-jackpot.png') no-repeat;
	width: 24px;
	height: 24px;
	top: 13px;
	left: 30px;
	position: absolute;
	display: inline-block;
}

.jackpot-title::after {
	content: '';
	width: 95px;
	height: 45px;
	position: absolute;
	z-index: 1;
	transform: skew(30deg);
	top: 0px;
	margin-left: 5px;
	
	        background: #6a7ed9; /* Old browsers */
  background: -moz-linear-gradient(top,  #6a7ed9 0%, #586ac0 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#6a7ed9), color-stop(100%,#586ac0)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #6a7ed9 0%,#586ac0 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #6a7ed9 0%,#586ac0 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #6a7ed9 0%,#586ac0 100%); /* IE10+ */
  background: linear-gradient(to bottom, #6a7ed9 0%,#586ac0 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6a7ed9', endColorstr='#586ac0',GradientType=0 ); /* IE6-9 */
}

table.contentjackpot{
	width:100%;
	font-family: 'Conv_AvenirNextLTPro-Regular';
	
	

	
}

table.contentjackpot tr td{
	padding:10px;
	font-size: 15px;
	font-weight: bold;
	text-align: center;
	
	
	
}

table.contentjackpot tr td, table.contentjackpot tr th {
	border-right: 2px solid #7b91b6;
	
}

table.contentjackpot tr td:last-child, table.contentjackpot tr th:last-child{
	border-right:none;
}

table.contentjackpot tr th{
	color: #fff;
	padding:10px;
	text-align: center;
		 background: #7b97e2; /* Old browsers */
  background: -moz-linear-gradient(top,  #7b97e2 0%, #8aa5ec 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7b97e2), color-stop(100%,#8aa5ec)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #7b97e2 0%,#8aa5ec 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #7b97e2 0%,#8aa5ec 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #7b97e2 0%,#8aa5ec 100%); /* IE10+ */
  background: linear-gradient(to bottom, #7b97e2 0%,#8aa5ec 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7b97e2', endColorstr='#8aa5ec',GradientType=0 ); /* IE6-9 */
}

table.contentjackpot tr:nth-child(even){
	background: #d6e1fd;
	
}

table.contentjackpot tr:nth-child(odd){
	background: #bfd1fe;
	
}

.jackpot-date{
	color: #0065cd;
	font-weight: normal;
	width:100px;
	
}

.jackpot-coin{
	color: #216db6;
	
}

.tab-news-update > table{
	width:100%;
}

.news-date{
	color:#253b52;
	font-weight:bold;
}

.tab-news-update > table tr td{
	padding:10px;
	color:#616161;
	
	
}

.tab-news-update > table tr:nth-child(even){
	background: #bfd1fe;
	
}

.tab-news-update > table tr:nth-child(odd){
	background: #d6e1fd;
	
}


.contentone{
	padding:15px 0px;
	
}

.contenttwo{
	background-color:#d6e1fd;
	padding: 30px 0px;
}

.contact-title{
	height: 45px;
	width:230px;
	color: #fff;
	padding-left: 45px;
	text-transform: uppercase;
	font-size: 16px;
	font-weight: bold;
	padding-top: 15px;
	background: #6a7ed9; /* Old browsers */
	background: -moz-linear-gradient(top,  #6a7ed9 0%, #586ac0 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#6a7ed9), color-stop(100%,#586ac0)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #6a7ed9 0%,#586ac0 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #6a7ed9 0%,#586ac0 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #6a7ed9 0%,#586ac0 100%); /* IE10+ */
	background: linear-gradient(to bottom, #6a7ed9 0%,#586ac0 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6a7ed9', endColorstr='#586ac0',GradientType=0 ); /* IE6-9 */
	
}




.contact-title::before{
	content: "";
	background: url('http://ssspoker.com/kr/assets/img/icon-contact.png') no-repeat;
	width: 24px;
	height: 24px;
	top: 13px;
	left: 30px;
	position: absolute;
	display: inline-block;
}

.contact-title::after {
	content: '';
	width: 75px;
	height: 45px;
	position: absolute;
	z-index: 1;
	transform: skew(30deg);
	top: 0px;
	margin-left: 2px;
	background: #6a7ed9; /* Old browsers */
	background: -moz-linear-gradient(top,  #6a7ed9 0%, #586ac0 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#6a7ed9), color-stop(100%,#586ac0)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #6a7ed9 0%,#586ac0 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #6a7ed9 0%,#586ac0 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #6a7ed9 0%,#586ac0 100%); /* IE10+ */
	background: linear-gradient(to bottom, #6a7ed9 0%,#586ac0 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6a7ed9', endColorstr='#586ac0',GradientType=0 ); /* IE6-9 */
}


.contentcontact ul{
list-style: none;
padding-left: 0px;
	
}

.contentcontact ul li{
float: left;
width: 250px;
margin-right: 25px;
margin-bottom: 15px;
padding: 15px 10px;
color:#616161;
font-size:16px;
cursor: pointer;

}
.contentcontact ul li img{
	display: inline-table;
float: left;
margin-right: 20px;
	
}

.contentcontact .title{
	color:#406daa;
	font-weight:bold;
	
}

.contentcontact ul li:hover{
	background: #d6e1fd;
	box-shadow: inset 4px 3px 10px 1px #aab8eb;
-webkit-box-shadow: inset 4px 3px 10px 1px #aab8eb;
-moz-box-shadow: inset 4px 3px 10px 1px #aab8eb;
-o-box-shadow: inset 4px 3px 10px 1px #aab8eb;
	
}


.title-page{
	background: #6f80d2;
	
}

.title-page h1{
	color: #ffffff;
	margin-top: 15px;
    margin-bottom: 15px;
}

/* REGISTER */

.register{
}

.register .control-label{
	text-align:left;
	width:440px;
	
}

.register .title{
	 background: #6a7ed9; /* Old browsers */
  background: -moz-linear-gradient(top,  #6a7ed9 0%, #586ac0 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#6a7ed9), color-stop(100%,#586ac0)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #6a7ed9 0%,#586ac0 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #6a7ed9 0%,#586ac0 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #6a7ed9 0%,#586ac0 100%); /* IE10+ */
  background: linear-gradient(to bottom, #6a7ed9 0%,#586ac0 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6a7ed9', endColorstr='#586ac0',GradientType=0 ); /* IE6-9 */
padding:10px;
width: 200px;
color: #fff; 
margin-bottom:20px;
text-align:center;
font-weight:bold;
}

.register input, .register select{
	border: #8c8c8c 2px solid;
    border-radius: 5px;
    height: 30px;
	padding:5px 0px;
	
	
}

.register .warning{
	color: #ff0000;
}


.btn-reset{
	background: #7b97e2; /* Old browsers */
	background: -moz-linear-gradient(top,  #7b97e2 0%, #627dc6 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7b97e2), color-stop(100%,#627dc6)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #7b97e2 0%,#627dc6 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #7b97e2 0%,#627dc6 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #7b97e2 0%,#627dc6 100%); /* IE10+ */
	background: linear-gradient(to bottom, #7b97e2 0%,#627dc6 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7b97e2', endColorstr='#627dc6',GradientType=0 ); /* IE6-9 */
	border: 1px solid #627dc6;
	border-top: 1px solid #b9c8f0;
	color: #fff;
	font-weight: bold;
	font-size:18px;
	
}

.btn-submit{
	background: #f2b61c; /* Old browsers */
	background: -moz-linear-gradient(top,  #f2b61c 0%, #cf8417 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f2b61c), color-stop(100%,#cf8417)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #f2b61c 0%,#cf8417 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #f2b61c 0%,#cf8417 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #f2b61c 0%,#cf8417 100%); /* IE10+ */
	background: linear-gradient(to bottom, #f2b61c 0%,#cf8417 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2b61c', endColorstr='#cf8417',GradientType=0 ); /* IE6-9 */
	border: 1px solid #cf8417;
	color: #fff;
	margin-left:10px;
	font-weight: bold;
	font-size:18px;
	
}

.register .info{
	background-color:#d2d2d2;
	padding:5px;
	font-size:16px;
	line-height:28px;
}

.registerterms a{
	color:#7b3ec4;
	
}


/*DEPOSIT*/

.deposit .control-label{
	text-align:left;
}

.uialert{
	display:none;
    position: fixed;
    background: #c7d1fe;
    padding: 20px;
    color: #586ac0;
    border: #586ac0 solid 4px;
    border-radius: 10px;
}

/*TABS*/

.tabtheme{
	border-bottom: 3px solid #586ac0;
	margin-bottom: 15px;

}

.tabtheme li{
	margin-right:15px;
	
}

.tabtheme li a{
border: none;
border-radius: 0;
    margin-bottom: 1px;
	padding-left: 30px !important;
}

.tabtheme>li.active>a, .tabtheme>li.active>a:focus, .tabtheme>li.active>a:hover{
	background: #6a7ed9; /* Old browsers */
	background: -moz-linear-gradient(top,  #6a7ed9 0%, #586ac0 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#6a7ed9), color-stop(100%,#586ac0)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #6a7ed9 0%,#586ac0 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #6a7ed9 0%,#586ac0 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #6a7ed9 0%,#586ac0 100%); /* IE10+ */
	background: linear-gradient(to bottom, #6a7ed9 0%,#586ac0 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6a7ed9', endColorstr='#586ac0',GradientType=0 ); /* IE6-9 */
	color: #fff;
	border: none;

}

.tabtheme>li>a:focus, .tabtheme>li>a:hover{
	background: #6a7ed9; /* Old browsers */
	background: -moz-linear-gradient(top,  #6a7ed9 0%, #586ac0 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#6a7ed9), color-stop(100%,#586ac0)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #6a7ed9 0%,#586ac0 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #6a7ed9 0%,#586ac0 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #6a7ed9 0%,#586ac0 100%); /* IE10+ */
	background: linear-gradient(to bottom, #6a7ed9 0%,#586ac0 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6a7ed9', endColorstr='#586ac0',GradientType=0 ); /* IE6-9 */
	color: #fff;
	border: none;

	
}

.tabtheme>li>a, .tabtheme>li>a:visited{
	text-transform:uppercase;
	background: #c7d1fe;
	color: #586ac0;
	font-weight: bold;
	border: none;

}

.tabtheme>li.active a::after {
	content: '';
	width: 45px;
	height: 40px;
	position: absolute;
	z-index: 1;
	transform: skew(30deg);
	top: 0px;
	margin-left: 3px;
	background: #6a7ed9; /* Old browsers */
	background: -moz-linear-gradient(top,  #6a7ed9 0%, #586ac0 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#6a7ed9), color-stop(100%,#586ac0)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #6a7ed9 0%,#586ac0 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #6a7ed9 0%,#586ac0 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #6a7ed9 0%,#586ac0 100%); /* IE10+ */
	background: linear-gradient(to bottom, #6a7ed9 0%,#586ac0 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6a7ed9', endColorstr='#586ac0',GradientType=0 ); /* IE6-9 */
}

.tabtheme li a:hover::after {
 background: #6a7ed9; /* Old browsers */
  background: -moz-linear-gradient(top,  #6a7ed9 0%, #586ac0 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#6a7ed9), color-stop(100%,#586ac0)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #6a7ed9 0%,#586ac0 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #6a7ed9 0%,#586ac0 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #6a7ed9 0%,#586ac0 100%); /* IE10+ */
  background: linear-gradient(to bottom, #6a7ed9 0%,#586ac0 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6a7ed9', endColorstr='#586ac0',GradientType=0 ); /* IE6-9 */
}

.tabtheme li a::after {
	content: '';
	width: 45px;
	height: 40px;
	position: absolute;
	background: #c7d1fe;
	transform: skew(30deg);
	top: 0px;
	margin-left: 3px;
}

/*REFERRAL*/

.formtheme .control-label{
	text-align:left;
}

/*AFTERLOGIN*/
.afterlogin{
	text-align:center;
	
}

.menulogafter{
	padding: 6px;
	margin-bottom: 0px;
	text-align:right;
	color:#fff;
	
}

.menulogafter a{
	color:#bcc8e5;
}

/*JACKPOT*/

table.table tr:nth-child(odd){
	background: #545454;
}


table.table tr:nth-child(even) {
    background: #808080;
}

table.table tr{
		color: #fff;
	
}

table.table tr:first-child {
	color: #e7ac40;
}

#txh-winner h5{
	font-size:18px;
}



/*TAB PROMO*/

.tabpromo{
	display:block;
	padding:0px;
	margin:0px;
	list-style:none;
	
}

.tabpromo li a{
	display:block;
	padding:10px 40px;
	margin-bottom:5px;
	text-align:center;
	text-transform: uppercase;
	color: #586ac0;
	background: #c7d1fe;
	font-weight:bold;
	

}

.tabpromo li:first-child a{
		 background: #6a7ed9; /* Old browsers */
  background: -moz-linear-gradient(top,  #6a7ed9 0%, #586ac0 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#6a7ed9), color-stop(100%,#586ac0)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #6a7ed9 0%,#586ac0 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #6a7ed9 0%,#586ac0 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #6a7ed9 0%,#586ac0 100%); /* IE10+ */
  background: linear-gradient(to bottom, #6a7ed9 0%,#586ac0 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6a7ed9', endColorstr='#586ac0',GradientType=0 ); /* IE6-9 */
  color:#fff;
  	font-weight:bold;
	
}

.contentpromo .tab-content{

	
}

.content-promo table{
	margin-bottom:10px;
	padding:0px;
	
}

.content-promo .ttl{
	background-color:#d6e1fd;
	padding:10px 5px;
	margin-bottom:10px;
	text-transform:uppercase;
	color: #586ac0;
	font-weight:bold;
	
}

.promobutton{
	background: #f2b61c; /* Old browsers */
	background: -moz-linear-gradient(top,  #f2b61c 0%, #cf8417 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f2b61c), color-stop(100%,#cf8417)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #f2b61c 0%,#cf8417 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #f2b61c 0%,#cf8417 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #f2b61c 0%,#cf8417 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #f2b61c 0%,#cf8417 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2b61c', endColorstr='#cf8417',GradientType=0 ); /* IE6-9 */
	color: #000;
    width: 90px;
    font-size: 13px;
    padding: 5px;
    font-weight: bold;
    border-radius: 5px;
    text-align: center;
	margin-top:15px;
	
}

.content-promo img{
	border: 2px solid #8052b5;
}

.content-promo h4{
	color:#8052b5;
}

.promotxt{
	font-size:15px;
	
}

.old-version-web {
	position: fixed;
	top: 25%;
	left: 0px;
	z-index: 3;
}

.open-coin {
	color: #ffbc08;
    float: left;
    position: relative;
    top: 6px;
    cursor: pointer;
    font-weight: bold;
	font-style: italic;
    text-decoration: underline;
}

.open-coin:hover {
	color: #da9f00;
}


/*RESPONSIVE*/
@media (min-width: 992px){
	.login-mobile{
		display: none;
	}
	.login-web{
		display: block;
	}
	.old-version-web{
		display: block;
	}
	.old-version-mobile{
		display: none;
	}
}

@media (max-width: 1200px){
	.txtwelcome{
		margin-left: 650px;
		
	}
	
	.jacktxt{
		display:none;
	}
	
	.jackpotmiddle img {
	margin-left: 248px;
    margin-right: 20px;
	}
	
	.latest-news marquee, .latest-news-white marquee {
    width: 850px;
	}
	
	.contentmiddle {
		font-size: 15px;
	}
	
	.stepone::after{
		margin-left: 44px;
		
	}
	.steptwo::after{
		margin-left: 25px;
		
	}
	
	.contentcontact ul li{
		width: 223px;
    margin-right: 14px;
    margin-bottom: 10px;
    padding: 10px;
		
	}
	
	.contentcontact ul li img{
		margin-right: 10px;
		
	}
	
	.login-mobile{
		display: none;
	}
	.login-web{
		display: block;
	}
	.old-version-web{
		display: block;
	}
	.old-version-mobile{
		display: none;
	}
}

@media (max-width: 992px) {
	.txtwelcome{
	    margin-left: 490px;
		
	}
	
	.jackpotmiddle img {
	margin-left: 30px;
    margin-right: 10px;
	}
	
	.latest-news marquee, .latest-news-white marquee {
    width: 600px;
	}
	
	.contentmiddle img{
		width:70px;
	}
	
	.contentmiddle {
    font-size: 13px;
	}
	
	.stepone::after {
    margin-left: 27px;
    margin-top: 5px;
	}
	
	.steptwo::after {
    margin-left: 12px;
   margin-top: 5px;

	}
	
	.contentjackpot{
		margin-bottom: 20px;
	}
	
	.contentmobile{
		text-align:center;
	}
	
	.contentcontact ul li {
	    width: 233px;
	    margin-right: 10px;
	    margin-bottom: 10px;
	    padding: 5px;
	}

	.login form input{
		width:120px !important
	}

	
	.navbar-nav > li > a{

	  	padding: 10px 10px !important;
    	height: 40px !important;
		color: #bcc8e5 !important;
	}
	.login-mobile{
		display: block;
	}
	.login-web{
		display: none;
	}

	.old-version-web{
		display: none;
	}
	.old-version-mobile{
		display: block;
	}
}

/*NAVBAR MOBILE*/

@media (max-width: 992px) {
	.navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
		margin-top: 20px;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin-top: 7.5px;
		background: #233b79;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{
        display:block !important;
    }
	
	.navbar-default .navbar-toggle{
		border-color: #233b79;
		
	}
	.navbar-default .navbar-toggle .icon-bar{
		background-color: #233b79;
	}
	
	.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus{
		background-color: #b1c1e6;
		
	}
	.login-mobile{
		display: block;
	}
	.login-web{
		display: none;
	}

}

@media (max-width: 768px){
	.contenttop{
	background-size: 1500px 430px;
    height: 430px;	
	}
	
	.jackpotmiddle img {
       margin-left: 0px;
    margin-right: 0px;
	}

	.contentmiddle{
	display: none;
	
	}
	
	.txtwelcome {
    margin-left: 445px;
	margin-top: 61px;
	}
	
	.jackpotmiddle{
		bottom: -10px;
		
	}
	
	.form-control {
    display: inline-block !important;
	}
	
}

@media (max-width: 720px){
	.contenttop{
		background: url(http://ssspoker.com/kr/assets/img/bg-small.jpg) no-repeat center center;
		
	}
	
	.jackpotmiddle-mobile{
	display:block;
	position:absolute;
	bottom: 0;
	text-align: center;
	width: 100%;
	
}
.btn-jackpotwin, .btn-registernow{
	width: 100%;
}

		.txtwelcome, .jackpotmiddle, .latest-news, .latest-news-white{
			display: none;
			
		}
}


